<div>
  <h1>Groups in your area</h1>
  <table>
    <tbody>
  {{#each items}}
  <tr >
 
    <div class="row">
    <div class="col-xs-4">
      <img src="{{this.avatarUrl}}" class="img img-responsive"></img>

    </div>

    <div class="col-xs-8">
        {{#if this.is_member}}
      <h2>
      <a href="/groups/{{this.id}}">{{this.name}}</a> </h2>
        {{else}}
        <h2>{{this.name}}</h2>
        {{/if}}
      <p>{{this.description}}</p>
      <p><em>{{this.num_members}} members</em></p>
      {{#unless this.is_member}}
      <a class='join-button' data-group={{this.id}}>Join group</a>
      {{/unless}}
      
      <p>Created by: <strong>{{this.owner.username}}</strong></p>

  
    </div>
    </div>
  </tr>
  {{/each}}

  </tbody>
  </table>
</div>  