<div>

  <div class="col-xs-6">


    <h1>{{name}} </h1>
    <p>{{description}}</p>

    <p>Group owner: <strong>{{owner.username}}</strong>
      <p>Members:</p>
      <ul>
        {{#each members}}
        <li>{{this.username}}</li>
        {{/each}}
      </ul>

      <h3>Posts</h3>
      <ul class="posts">
        {{#each posts}}
        <li class="post" id="post{{this.id}}" data-post="{{this.id}}">
          {{#if this.canEdit }}
          <a href="javascript:;" class="edit-post"><span class="glyphicon glyphicon-pencil" style="float:right"></span></a>          {{/if}}

          <strong>{{this.owner.username}}</strong>
          <div class="post-view">

            <p>{{this.message}}</p>
          </div>
          <div class="post-edit" style="display:none">
            <textarea class="form-control post-message" rows="2" cols="10">{{this.message}}</textarea>
            <button class="btn btn-primary save-post">Save changes</button>
            <button class="btn cancel-post">Cancel</button>
            <button class="btn btn-danger delete-post" style="float:right">Delete post</button>
          </div>
        </li>
        {{/each}}
      </ul>

      <textarea class="form-control" rows="2" cols="10" id="post-message" placeholder="Write a post here"></textarea>
      <button class=" btn btn-primary " id='add-post' style="margin-top:10px">Add post</button>
  </div>
  <div class="col-xs-6 ">
    <img src=' {{avatarUrl}} ' class="img img-responsive img-thumbnail "></img>
  </div>
</div>