<form role="form" id="login-form">
  <h2>Edit profile</h2>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" placeholder="Username" value="{{username}}" class="form-control" readonly>
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" id="email" value={{email}} class="form-control">
      </div>
    </div>
    <div class="col-sm-6">

      <img src="{{avatarUrl}}" style="height:200px" align="right" />
      <div class="form-group">
        <label for="avatarUrl">Avatar</label>
        <input type="url" id="avatarUrl" placeholder="Enter an URL for your avatar" value="{{avatarUrl}}" class="form-control" alt="Avatar not found">
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" placeholder="Tell us something about yourself" rows="2" cols="10" class="form-control">{{description}}</textarea>
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" id="age" value={{age}} min="18" max="99" class="form-control">
    </div>
    <div class="form-group">
      <label for="currentProject">Current Project</label>
      <input type="text" id="currentProject" placeholder="What project are you working on right now?" value="{{currentProject}}"
        class="form-control">
    </div>
    <div class="form-group">
      <label for="agency">Agency</label>
      <input type="text" id="agency" placeholder="Agency" value="{{agency}}" class="form-control">
    </div>

    {{!--
    <div class="form-group">
      <input type="password" id="password" placeholder="Password" class="form-control">
    </div>
    <div class="form-group">
      <input type="password" id="password2" placeholder="Enter your password again" class="form-control">
    </div>--}}
    <div class="text-danger" id="validation-error">

    </div>
    <input type="submit" class="btn btn-success" id='save-button' value='Save changes'></input>
    <input type="reset" class="btn btn-default" value='Reset changes'></input>
    <input type="button" class="btn btn-danger" id='delete-button' value='Delete user'></input>
</form>

<!-- 
Id, primary key,AI(auto incremented)  - unique 
username - string,not null, 256(length)
email - string,not null, 256(length)
description - string, nullable, 500(length)
password - string - plain- for the moment, no encryption needed, not null, 256(length)
avatarUrl - string, nullable, 500(length)
age - integer,nullable, 
currentProject that he/she works on - string,nullable, 500(length)
agency ( Brasov, Iasi, Cluj, Bucharest, Chisinau) - string,nullable, 500(length)

  -->